<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "/header.html">
</head>
<body onload="ld();">
<!--<form action="/api/v1/PagePayTest" method="GET">-->
    <!--<button type="submit">提交</button>-->
<!--</form>-->
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-2 control-label">用户密钥</div>
        <div class="col-sm-10">
            <input type="text" id="priKey" class="form-control" placeholder="用户密钥"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 control-label">商户订单号</div>
        <div class="col-sm-10">
            <input type="text" id="orderId" class="form-control" placeholder="商户订单号"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 control-label">订单描述</div>
        <div class="col-sm-10">
            <input type="text" id="productDesc" class="form-control" placeholder="订单描述"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 control-label">支付金额</div>
        <div class="col-sm-10">
            <input type="text" id="totalAmount" class="form-control" placeholder="支付金额"/>
            <input type="hidden" id="version" value="1.0" class="form-control"/>
            <input type="hidden" id="signType" value="MD5" class="form-control"/>
            <input type="hidden" id="payMethod" value="22" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 control-label">支付方式</div>
        <label class="radio-inline">
            <input type="radio" name="status" value="Wap" /> 手机wap支付
        </label>
        <label class="radio-inline">
            <input type="radio" name="status" value="QrCode" checked/> 二维码支付
        </label>
    </div>
    <div class="form-group">
        <div class="col-sm-2 control-label"></div>
        <input type="button" class="btn btn-primary" onclick="submitFrom();" value="确定"/>
    </div>
</form>
<div>
    <img id="qrCode">
</div>
<script>
    function ld() {
        $.ajax({
            url : baseURL + "/api/v1/QrCodeTest" ,
            type: 'post',
            data: {
                "orderId": 201809170954,
                "orderAmount" : 1.0,
                "productName" : "小酱油"
            },//一同上传的数据
            dataType: 'json', //返回值类型一般设置为json
            success: function (data, status)  //服务器成功响应处理函数
            {
                debugger;
                if (status == "success") {
                    $("#qrCode").attr('src', data.qr_code);
                } else {
                    alert(data.msg);
                }
            }
        })
    }
</script>
<script>
    function submitFrom() {
        var priKey = $("#priKey").val();
        if (priKey.trim() == "" || priKey.trim() == null ) {
            alert("商户密钥不能为空!")
            return false;
        }
        var orderId = $("#orderId").val();
        if(orderId.trim() == "" || orderId.trim() == null){
            alert("订单流水号不能为空!")
            return false;
        }
        var productDesc = $("#productDesc").val();
        if(productDesc.trim() == "" || productDesc.trim() == null){
            alert("商品描述不能为空!")
            return false;
        }
        var totalAmount = $("#totalAmount").val();
        if(totalAmount.trim() == "" || totalAmount.trim() == null){
            alert("商品金额不能为空!")
            return false;
        }
        var payType = $("input[name='status']:checked").val();
        var version = $("#version").val();
        var signType= $("#signType").val();
        var payMethod = $("#payMethod").val();
        var MD5Str = "orderAmount="+totalAmount+"&orderId="+orderId+"&partner="+priKey+"&payMethod="+payMethod+"&payType="+payType+"&signType="+signType+"&version="+version;
        var sign = hex_md5(MD5Str).toUpperCase();
        var data = {
            "orderId": orderId,
            "orderAmount" : totalAmount ,
            "productName" : productDesc,
            "partner" : priKey,
            "payMethod" : payMethod,
            "payType" : payType,
            "signType" : signType,
            "sign" : sign,
            "version" : version,
            "notifyUrl" : "http://369pay.net/api/v1/notify"
        };
        $.ajax({
            url : baseURL + "/api/v1/create" ,
            type: 'post',
            data: JSON.stringify(data),//一同上传的数据
            dataType: 'json', //返回值类型一般设置为json
            contentType:'application/json;charset=utf-8',
            success: function (data, status)  //服务器成功响应处理函数
            {
                if (status == "success") {
                    $("#qrCode").attr('src', data.qr_code);
                } else {
                    alert(data.msg);
                }
            }
        })
    }
</script>
</body>
</html>